<div>
 My name is {{name}}. I am a {{occupation}} :/. 
</div>


<ul class="people_list">
 {{#each people}}
   <li>{{this}}</li>
 {{/each}}
</ul>

<ul class="people_list">
 {{#each people}}
   <li>{{this}}</li>
 {{/each}}
</ul>